html
    font-size innerText

body
    font-family 'Roboto', sans-serif
    color main-text-color
    background-color mainBg

html,
body
    width 100%
    height 100%
    min-width 320px
    max-width 640px
    min-height 480px
    margin auto

*
    vertical-align top
    &:focus
        outline none

a
    color main-text-color

ul, ol, li
    margin 0
    padding 0
    list-style-type none


