.header-wrap
    height 88px
    width 100%
    border-bottom 1px solid grey4
    background linear-gradient(to bottom, #363636 0%, #363636 50%, #2f2f2f 50%, #2f2f2f 100%)
    position absolute
    text-align center
    top 0
    left 0

.age-limit-wrap
    display inline-block
    vcenter()
    left 15px
    width 64px
    height 64px
    text-align center
    background url(../img/age_bg.png) center center no-repeat

.age-limit
    font-size rem27
    color white
    display inline-block
    margin-top 17px
    font-weight 300

.logo
    display inline-block
    padding-top 14px
    margin-right 15px