@import normalize
@import mixins
@import variables
@import first
@import header

.video-page
    width 100%
    height 100%
    overflow hidden
    position relative
    .main-wrap
        width 100%
        height 100%
        padding-top 88px
        background-color grey2f
        box-sizing border-box
        display flex
        flex-flow column wrap

.video-wrap
    width 100%
    background-color red
    flex-grow 7

.controllers
    padding 10px 15px
    flex 1 0 auto
    font-size rem20

    label
        margin-bottom 5px
        padding-left 40px
        position relative
        color #a4a4a4
        noUserSelect()
        &:before
            position absolute
            left 0
            top 2px
            font-size 20px
            content "✓"
            color transparent
            text-align center
            width 29px
            height 29px
            box-sizing border-box
            display inline-block
            border 3px solid black
            background-color white

    input
        display none
        &:checked + label:before
            background #fff url(../img/check.png) center center no-repeat
            background-size 80%

    a
        color white


@import media